<header id="headerPage">
    <div class="頁首">
        <h1 class="big-title"><a  href="/home"><%= heading %></a></h1>
        <label class="switch" id="dark-mode">
            <input type="checkbox" onclick="darkmode()" title="dark mode" placeholder=""/>
            <span class="slider round"></span>
        </label>
    </div>
    <nav class="導航欄">
        <button onclick="window.location.href='/team_intro';">關於團隊</button>
        <button onclick="window.location.href='/mini_game';">小遊戲</button>
        <button onclick="window.location.href='/team_history';">團隊歷史</button>
        <button onclick="window.location.href='/tools';">工具</button>
        <button onclick="window.location.href='/mini_game';">小遊戲</button>
        <button onclick="window.location.href='/contect_to_us';">聯絡我們</button>
        <button onclick="window.location.href='/login';">管理員登入</button>
    </nav>
</header>