<aside id="siderPage"></aside>
<section id="content_text" ></section>
<object id="content" title="content of website" type="text/plain" data="<%= content_url %>"></object>
<script src="/js/content_finder.js" onload="content_finder();"></script>