<siderPage>
    <ul id="側導航欄">
        <li><h3><%= title %></h3></li>
    </ul>
    <%- content %>
</siderPage>

<!--
    About using this template
    1. Since not every page has sider page, this template can be add to "content" of "general_template" optionally by do the following:
    

-->