@font-face {
	font-family: minecraft;
	src: url(Minecraft.ttf);
}

#content {
    font-family: Roboto;
    background-color: rgb(128, 76, 34);
    display: flex;
    align-items: center;
    justify-content: center;
	height:100vb;
	margin: 0px;
}

#back {
	position: fixed;
	left: 10px;
	top: 10px;
	background: unset;
	border: unset;
	color:white;
	height: 50px;
	width: 50px;
	font-size: 25pt;
}

:hover #back {
	cursor:pointer;
}

#home {
	position: fixed;
	left: 70px;
	top: 10px;
	background: unset;
	border: unset;
	color:white;
	height: 50px;
	width: 50px;
	font-size: 25pt;
}

:hover #home {
	cursor:pointer;
}

.login{
	background-color: rgb(169, 169, 169);
    width: 400px;
    color: white;
    padding: 40px;
	box-shadow: -5px -5px 1px rgb(199, 199, 199);
    text-align: center;
	border: rgb(76, 76, 76) solid 5px;
	align-content: center;
	background-image: image();

}

.login input{
    display: block;
    margin: 20px auto;
    text-align: center;
    background-color: none;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    outline: none;
}

.login input[type="text"], .login input[type="password"]{
    border: 2px solid rgb(73, 199, 216);
    width: 220px;
    transition: 0.25s;
}

.login input[type="text"]:focus, .login input[type="password"]:focus{
    border-color:rgb(0, 224, 253);
    width: 250px;
    transition: 0.25s;
}

.login input[type="submit"]{
    width: 150ps;
    border: 2px solid rgb(62, 184, 62);
    cursor: pointer;
}

.login input[type="submit"]:hover{
    background-color: rgb(255, 238, 0);
    transition: 0.5s;
}

* {
	font-family: minecraft;
}