@font-face {
	font-family: minecraft;
	src: url(Minecraft.ttf);
}

body{
    margin:0px;
}

@keyframes timer{
    from {
        position: relative; 
        right: 0px;
        bottom: 0px;
        opacity: 1
        }
    to {
        position: relative; 
        right: 0px;
        bottom: 0px;
        opacity: 1
    }
}

#showbox{
	display: inline;
	width: fit-content;
}

#showtext{
    border: 0px solid gold;
    background-color: gold;
    border-radius: 0 0 0 0px;
    position: relative; 
    font-size: 15px;
    bottom: 0px;
    right: 0px;
    animation-name:showbox_slider;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: linear;
	animation-delay: 0s;
	overflow-x: hidden;
	max-width: 100%;
	font: Minecraft;
	z-index: 2;
}

@keyframes showbox_slider {
    0% {
        position:relative; left:-10vw;
	}
    20% {
        position:relative; left:14vw;
    }
    40% {
        position:relative; left:38vw;
    }
    60% {
        position:relative; left:62vw;
    }
    80% {
        position:relative; left:86vw;
    }
    100% {
        position:relative; left:110vw;
    }
}

@keyframes big-circle{
    from{
        position:absolute;
    }
}

@keyframes title-slide-in{
    from {
        position:relative; left:-80px;
        opacity:0
        }
    to {
        position:relative; left:20px;
        opacity:1
    }
}

.頁首{
    border:2px solid rgb(43, 195, 76); 
    background-color:rgb(43, 195, 76); 
    padding:5px;
}

.big-title{
    animation-name:title-slide-in;
    animation-duration:3s;
    animation-iteration-count:1;
    position:relative; left:20px;
    width:400px;
}

.導航欄{
    position:relative;
    display:flex;
    height:60px;
    background-color:rgb(0, 195, 255);
}

@keyframes change-button-height{
    from {
        border:10px solid rgb(33, 160, 160);
        background-color:rgb(33,160,160);
        color:white;
        font-size:15px;
        height:50px;
    }
    to {
        border:10px solid yellow;
        background-color:yellow;
        color:black;
        font-size:15px;
        height:60px;
    }
}

.導航欄 button:hover{
    animation-name:change-button-height;
    animation-duration:0.1s;
    animation-iteration-count:1;
    border:10px solid yellow;
    background-color:yellow;
    color:black;
    font-size:15px;
    height:60px;
    flex:1;
    cursor: pointer;
}

.導航欄 button{
    border:10px solid rgb(33, 160, 160);
    background-color:rgb(33,160,160);
    color:white;
    font-size:15px;
    height:50px;
    flex:1;
}

#側導航欄{
    display:block; 
    width:200px;
    background-color:rgb(8, 209, 216);
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%; /* Full height */
    position: 0; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

#側導航欄 li h3{
    margin: 0px;
    width:200px;
    background-color:rgb(109, 146, 226);
    color:black;
    text-align: center;
}

#側導航欄 li{
    position: relative;
    color: rgb(8, 209, 216);
    padding: 0px;
}

#側導航欄 li ul{
    color: rgb(8, 209, 216);
    padding: 0px;
    left: 5px;
    margin-right: 0px;
    margin-left: 10px;
}

#側導航欄 li button{
    color:white;
    border: 0px;
    text-decoration-line: none;
    background-color:rgb(8, 209, 216);
    width: 100%;
    left: 5px;
    top: 5px;
    bottom: 5px;
    text-align: left;
    height: 40px;
}

@keyframes change-button-color{
    from {
        background-color:rgb(8, 209, 216);
        color:white;
    }
    to {
        background-color:yellow;
        color:black;
    }
}

#側導航欄 li button:hover{
    animation-name:change-button-color;
    animation-duration:0.3s;
    animation-iteration-count:1;
    border:0px solid yellow;
    background-color:yellow;
    color:black;
    cursor: pointer;
    left: 5px;
}

#middle{
    display:flex;
	height:max-content;
	bottom: 0px;
}

#siderPage{
    width:200px;
}

#without_footer {
	min-height: 100vb;
}

#content_text{
    scroll-behavior: auto;
    padding:5px;
    width:max;
    flex:1;
}

#content{
    visibility: hidden;
    height: 0px;
    width: 0px;
}

#footerPage {
    background-color:gray; 
	height: 20vh;
	/* position: fixed; */
	width: 100%;
	margin: -20vh auto auto auto;
}

#footerPage p{
    margin:0;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: black;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	background-color: #777;
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

#dark-mode {
	position: fixed;
	right: 10px;
	top: 10px;
}

.dark-mode {
	background-color: #333;
	color: #eee;
}

.text-to-button {
	color: blue;
	text-decoration-line: underline;
}

:hover .text-to-button {
	cursor:pointer;
}